<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Planning</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/users/signup">Sign Up</a></li>
        <li><a href="/sessions/login">Login</a></li>
        <li>
          <form action="/sessions?_method=DELETE" method="post">
            <input type="submit" name="" value="Logout">
          </form>
        </li>
      </ul>
    </nav>
      <h1>Clever App Title</h1>
    {{{body}}}
  </body>
</html>
