<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Planning</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/users/signup">Sign Up</a></li>
        <li><a href="/sessions/login">Login</a></li>
        <li><a href="/users/show">Show</a></li>
      </ul>
    </nav>
      <h1>Clever App Title</h1>
    {{{body}}}
  </body>
</html>
