/*Main Layout*/
.indexBG {
  background-image: url(http://i.imgur.com/w1AusXn.jpg);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #10204A;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Bree Serif', serif;
}

#siteTitle {
  text-align: center;
  font-size: 3.5em;
  text-decoration: underline;
  margin: 0;
  color: #FFAB1E;
}

li {
  list-style: none;
}

a {
  color: #10204A;
}

/*Horizontal Nav Bar*/
nav ul {
  background-color: #10204A;
  margin: 0;
  padding: 0;
  height: 32px;
  width: auto;
}

nav li {
  display: inline-block;;
  align-items: center;
  border-right: 1px solid white;
  padding: 5px;
}

nav li:hover {
  background-color: grey;
}

li:last-child {
  border-right: none;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 0px 35px;
}

/*Index Layout*/
#featuredTrips, #userTrips {
  text-align: center;
  width: 350px;
  font-size: 1.7em;
  margin-top: 90px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

/*Cross Page Styling*/
.signUp, .login, .userShow {
  font-size: 1.5em;
}

input[type=text] {
  height: 15px;
  width: 150px
}

/*User Show Page*/
.userBG {
  background-image: url(http://i.imgur.com/p4EWa0S.jpg);
}
