<div id="featuredTrips">
  <h2>Featured Trips</h2>
    <ul>
      <li>Featured Trip 1</li>
      <li>Featured Trip 2</li>
      <li>Featured Trip 3</li>
    </ul>
</div>

<div id="userTrips">
  <h2>User Posted Trips</h2>
    <ul>
      <li>User Trip 1</li>
      <li>User Trip 2</li>
      <li>User Trip 3</li>
    </ul>
</div>

<div id="tripPics">
  <div>
    <img class="picDimensions" src="http://i.imgur.com/wP5BQ8M.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/EglmbLv.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/bO2okJL.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/NdOnaqF.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/vl9Auif.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/OFXHL1s.jpg">
  </div>
</div>
