<html class="indexBG">
  <div class="container">
  <div id="featuredTrips">
    <h2>Featured Trips</h2>
      <p>Featured Trip 1</p>
      <p>Featured Trip 2</p>
      <p>Featured Trip 3</p>
  </div>
  <div id="userTrips">
    <h2>User Posted Trips</h2>
      <p>User Trip 1</p>
      <p>User Trip 2</p>
      <p>User Trip 3</p>
      </ul>
  </div>
</div>
</html>
