<h2>User Posted Trips</h2>
<h2>Featured Trips</h2>

<div id="tripPics">
  <div>
    <img class="picDimensions" src="http://i.imgur.com/wP5BQ8M.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/EglmbLv.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/bO2okJL.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/NdOnaqF.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/vl9Auif.jpg">
  </div>
  <div>
    <img class="picDimensions" src="http://i.imgur.com/OFXHL1s.jpg">
  </div>
</div>
