<html class="indexBG">
<div class="login">
<h2>Login Page</h2>
  <form action="/sessions/login" method="post">
    <div class="formStyle">
      <label for="username">Username:</label>
      <input type="text" name="username" value="">
    </div>
    <div class="formStyle">
      <label for="password">Password:</label>
      <input type="text" name="password" value="">
    </div>
    <input type="submit" name="" value="Submit">
  </form>
  </div>
<br>
<a href="/users">Return to Home Page</a>
</html>
