<h1>Login Page</h1>

<form action="/sessions/login" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" name="password" value="">
  </div>
  <input type="submit" name="" value="Submit">
</form>
