<h2>{{user.username}}'s Trips</h1>

<a href="/trips/new">Create New Trip!</a>
<h3>All Trips</h3>

{{#each user.trips}}
<ul>
  <li><a href="/trips/{{_id}}?index={{@index}}">{{tripName}}</a></li>
</ul>
{{/each}}

<br>

<h3>Favorite Trips</h3>

<a href="/users">Return to Home Page</a>
