<div class="signUp">
<h2>Set Up Your New Account</h2>
  <form action="/users" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" value="">
    </div>
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" value="">
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" value="">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" value="">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" name="password" value="">
    </div>
    <input type="submit" name="" value="Submit">
  </form>
</div>
<br>
<a href="/users">Return to Home Page</a>
