<html class="userBG">
  <h1>Plan Out Your Trip!</h1>

  <form action="/trips" method="post">
    <div class="">
      <label for="tripName">Name Your Trip!</label>
      <input type="text" name="tripName" value="">
    </div>
    <div class="">
      <label for="img">Want to add a trip picture?</label>
      <input type="text" name="img" value="">
    </div>
    <div class="">
      <label for="favorite">Is this a favorite trip?</label>
      <input type="checkbox" name="favorite" value="">
    </div>
    <div class="">
      <label for="start">Where will your trip start?</label>
      <input type="text" name="start" value="">
    </div>
    <div class="">
      <label for="destination">Where will your trip end?</label>
      <input type="text" name="destination" value="">
    </div>
    <div class="">
      <label for="travelTime">How long will your trip take?</label>
      <input type="text" name="travelTime" value="">
    </div>
    <div class="">
      <label for="methodOfTravel">How will you travel?</label>
      <input type="text" name="methodOfTravel" value="">
    </div>
    <div class="">
      <label for="landmarks">Any notable landmarks?</label>
      <input type="text" name="landmarks" value="">
    </div>
    <div class="">
      <label for="routes">What routes will you take?</label>
      <input type="text" name="routes" value="">
    </div>
    <div class="">
      <label for="stops">Any stops in mind?</label>
      <input type="text" name="stops" value="">
    </div>
    <input type="submit" name="" value="Submit Your Trip!">
  </form>
</html>
